.root {
  width: 654px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 32px 101px;
}

.textHeading {
  font-size: 24px;
}

.beansAndLinesBox {
  padding: 20px 0 40px;
}